@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

h1, h2, h3, h4, h5 {
  margin: 0 0 1.38rem 0;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  text-transform: capitalize;
}
a {
  text-decoration: none;
}

body {
  background-color: #44475a;
}
.page {
  justify-content: center;
  width: 90vw;
  max-width: 1420px;
  margin: 0 auto;
  padding-top: 2rem;
  min-height: calc(100vh - (6rem + 4rem));
}

/* NAVIGATION */

.paginacao {
  display: flex;
  justify-content: center;
  width: auto;
}
