<main class="page">
  <section class="setor-inicial">

    <section class="setor-usuario">
      <form [formGroup]="formUsuario" (submit)="enviarUsuario()">

          <div class="form-group">
          <div class="imagePreview">
            <span class="span-editar-foto">Editar</span>
            <input type="file" name="image" accept="image/*" class="form-control imageInput form-control-image">
          </div>
          </div>
          
        <div class="form-group substantivos-proprio">
          <label>Nome:</label>
          <input type="text" formControlName="nome" class="form-control input-usuario substantivo-proprio">
        </div>
        
        <div class="form-group substantivos-proprio">
          <label>Titulo:</label>
          <input type="text" formControlName="titulo" class="form-control input-usuario substantivo-proprio">
        </div>

        <div class="form-group">
          <label>Descrição:</label>
          <textarea rows="10" formControlName="descricao" class="form-control input-usuario"></textarea>
        </div>        

        <div class="form-group btn-div">
          <button class="btn-editar">Editar</button>
        </div>
    
      </form>
    </section>
    
    <section class="setor-vitrine">
      <section class="setor-interno-projetos">
        <div class="tipos-div">
          <h4 class="botao-tipo" *ngFor="let tipo of tiposDeRegistro" (click)="CliqueTipo(tipo)">{{ tipo }}s</h4>
        </div>
        <table class="table">
          <thead >
            <th>ID</th>
            <th>Titulo</th>
        </thead>
        <tbody>
          <tr class="hover" (click)="cliqueRegistro(template, registro.id)" *ngFor="let registro of registros | paginate: { itemsPerPage: 15 , currentPage: pages }" >
            <td>{{ registro.id }}</td>
            <td>{{ registro.nome }}</td>
          </tr>
        </tbody>
      </table>
    </section>
    <div class="paginacao" *ngIf="visaoPaginacao == true">
      <pagination-controls (pageChange)="pages = $event"></pagination-controls>
    </div>
  </section>
  <button class="btn-adicionar-registro" (click)="openModal(template)">+</button>
</section>

</main>


<ng-template #template>
  
  <div class="modal-header center">
  <h3 class="modal-title">Editar Registro</h3>
</div>

<div class="modal-body">
  <form [formGroup]="formRegistro">
    
    <div class="form-group">
      <label for="formGroupExampleInput">ID</label>
      <input type="email"  #email formControlName="id" class="form-control input-style">
    </div>
    
    <div class="form-group">
      <label for="formGroupExampleInput">Nome</label>
      <input formControlName="nome" class="form-control input-style">
    </div>
    
    <div class="form-group">
      <label for="formGroupExampleInput">Link</label>
      <input formControlName="link" class="form-control input-style">
    </div>
    
    <div class="form-group">
      <label for="formGroupExampleInput">Tipo</label>
      <input formControlName="tipo" class="form-control input-style">
    </div>
    
    <div class="form-group">
      <label for="formGroupExampleInput">Categoria</label>
      <input formControlName="categoria" class="form-control input-style">
    </div>

    <div class="form-group">
      <label for="formGroupExampleInput">Instrodução</label>
      <input formControlName="introducao" class="form-control input-style">
    </div>
    
    <div class="form-group">
      <label for="formGroupExampleInput">Texto</label>
      <textarea rows="50" formControlName="descricao" class="form-control input-style"></textarea>
    </div> 
    
    <div class="form-group editar-excluir-div">
      <button class="btn-editar" (click)="enviarRegistro()">Editar</button>
      <button class="btn-excluir"  (click)="deletaRegistro(registro.id)">Excluir</button>
      <button class="btn-adicionar" >Adicionar</button>
    </div>
    
  </form>
  
</div>
</ng-template>