<main class="page">
  <section class="setor-inicial">

    <section class="setor-usuario">
      <tr>
        <th colspan="3">Lista de Clientes</th>
      </tr>
    </section>
    
    <section class="setor-vitrine">
      <section class="setor-interno-projetos">
        <h2>Projetos</h2>
        <table class="table">
          <thead >
            <th>ID</th>
            <th>Titulo</th>
        </thead>
        <tbody>
          <tr class="hover" *ngFor="let projeto of itens | paginate: { itemsPerPage: 10 , currentPage: pages }" >
            <td>{{ projeto.id }}</td>
            <td>{{ projeto.titulo }}</td>
          </tr>
        </tbody>
      </table>
      <div class="paginacao" *ngIf="visaoPaginacao == true">
        <pagination-controls (pageChange)="pages = $event"></pagination-controls>
      </div>
    </section>
  </section>
</section>

    <div class="paginacao" *ngIf="visaoPaginacao == true">
      <pagination-controls (pageChange)="pages = $event"></pagination-controls>
    </div>
</main>