<main class="page">

    <header>
      <section class="titulo-data">
        <h2>{{ registro.nome }}</h2>
        <h5>{{ dataCriacaoFormatada }}</h5>
      </section>

      <section class="secao-cabecalho">
        <article class="cabecalho">
          <div>
            <h3>Introdução</h3>
            <div>
              <p class="introducao">{{registro.introducao}}</p>
            </div>
          </div>

        <section class="image-ShowMeTheCode">
          <img src="" alt="" class="img project-hero-img">
          
          <a *ngIf="registro.tipo != 'artigo' && registro.tipo != 'profissional'" href={{registro.link}} target="_blank">
            Show me the Code
          </a>
          
        </section>

        </article>
      </section>
    </header>

    <section class="secao-artigo">
      <article class="artigo">
        <div class="paragrafos">
          <p *ngFor="let paragrafo of paragrafos">{{ paragrafo }}</p>
        </div>
      </article>
    </section>
</main>