
<nav class="navbar">
  <div class="nav-center">
    <!-- header -->
    <div class="nav-header">
      <a routerLink="" class="nav-logo">
        <p>tsemh</p>
      </a>
      <button class="btn nav-btn" type="button">
      </button>
    </div>

    <!-- Links -->
    <div class="nav-links">
      <a routerLink="" class="nav-link">Home</a>
      <a *ngFor="let tipo of tiposDeRegistro" (click)="pegaTipo(tipo)" routerLink="registros/{{tipo}}s" class="nav-link">{{ tipo }}s</a>

      <ul class="socials">
        <li><a class="nav-link networks">Sociais &dtrif;</a>
          <ul class="dropdown">
            <li><a href="https://github.com/tsemh" class="nav-link link-net" target="_blank">Github</a></li>
            <li><a href="https://www.tabnews.com.br/tsemh" class="nav-link link-net" target="_blank">Tabnews</a></li>
            <li><a href="https://www.linkedin.com/in/tsemh/" class="nav-link link-net" target="_blank">Linkedin</a></li>
          </ul>
        </li>
      </ul>

      <div *ngIf="acessoPainel == true">
        <a routerLink="painel-de-controle" class="nav-link">Painel</a>
      </div>

    </div>
  </div>
</nav>