<div class="h2">
  <h2> {{ tituloMain }} </h2>
</div>

<div class="categorias-itens">
  <div class="categorias" *ngIf="visaoCategoria == true">
    <tsemh-categoria [categorias]="categorias" [tituloMain]="tituloMain"></tsemh-categoria>
  </div>

  <div class="tudo-lista">
    <div class="recipiente-listas">
      <div class="recipiente-lista" *ngFor="
    let entidade of entidades | paginate: { itemsPerPage: 4, currentPage: pages }
  ">
        <a (click)="redirectTo('detalhes')" class="item-link">
          <h5>{{ entidade.titulo }}</h5>
          <img src=" {{ entidade.imagem }} " alt=" {{ entidade.descricaoImagem }} " class="img item-img">
        </a>
        
        <div class="tag-lista">
          <a *ngFor="let categoria of categorias" (click)="redirectTo(categoria.linkCategoria)" class="tag"> {{ categoria.tituloCategoria }}
          </a>
        </div>

      </div>
    </div>

    <div class="paginacao" *ngIf="visaoPaginacao == true">
      <pagination-controls (pageChange)="pages = $event"></pagination-controls>
    </div>

  </div>
</div>