<main class="page">
  <div class="project-page">
    <section class="project-hero">
      <img src="../../assets/projects/addPerson.png" alt="" class="img project-hero-img">

      <article>
        <h2>Add Persons</h2>
        <p>
          This test have base in one "WebAPI" that i built using the framework "ASP.NET" and "Entityframework". To
          front-end i have used the angular framework and the "NGX-Bootstrap" for the stylizing.
        </p>
        <p>
          This is an application was integrated, allowing the creation, read, update and the delete of datas. Also was
          use the "webforms" for checking of datas that were sent and, if have missing data or incorrect data, the form
          is blocked, preventing shipping.
        </p>
        <div class="project-tags">
          <a>Angular</a>
          <a>.NET</a>
          <a>NGX-Bootstrap</a>
        </div>

      </article>
    </section>

    <section class="project-content">
      <article>
        <a href="https://github.com/tsemh/TestCompugraf" target='_blank'>
          <h4 id="code-style" class="btn">Code</h4>
        </a>
        <div class="single-code">
          <header>
          </header>
          <p>This project was construct by me for a test of the company "Compugraf".</p>
        </div>
      </article>
      <article class="secod-column">
        <div>
          <h4>Technologies</h4>
          <div>
            <p class="ferramentas">Ferramenta 1</p>
          </div>
        </div>
      </article>
    </section>
  </div>
</main>