.page-footer {
  height: 4rem;
  text-align: center;
  background-color: #282a36;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-footer p {
  margin-bottom: 0;
}
.footer-logo {
  color: #bd93f9;
  font-family: 'Domine', serif;
}
