
footer {
  height: 8rem;
  text-align: center;
  background-color: #282a36;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
p {
  margin-bottom: 0;
  font-size: 22px;
}